
<?=__d('user','Welcome %s!',$username);?><br />
<br />
<?=__d('user','Otrzymujesz tę wiadomość, ponieważ twoje dane logowania na stronie 1Polska.pl uległy zmianie.');?><br />
<?=__d('user','Oto twoje nowe dane do logowania poprzez formularz na stronie (logowanie społecznościowe bez zmian)');?>:<br />
<br />
<?=__d('user','Email');?>: <b><?=$email;?></b><br />
<?=__d('user','Password');?>: <b><?=$password;?></b>


