<?php
$this->set('title_for_layout','O co chodzi');
?>


<iframe src="https://docs.google.com/presentation/d/14gx2DUk-6XOd4p4TTQdhQJRuedCelurnQOc45IuTmTs/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>


<h1 class="o_co_chodzi">Czas się zjednoczyć!</h1>
<p class="o_co_chodzi">
"Dziel i rządź!" – wg tej zasady działają wszystkie partie polityczne i cała obecna klasa polityczna. Cały ten chory system współczesnego wyzyskiwania i ekonomicznego niewolenia społeczeństw tworzony przez niegodziwych ludzi pociągających za sznurki opiera się na tej zasadzie wywoływania sztucznych podziałów między ludźmi i podburzania nas przeciwko sobie. Ich siłą i siłą obecnego systemu jest słabość PODZIELONEGO społeczeństwa. 
<br><strong>Czas się zjednoczyć – bo to jedyna droga do zmiany tej chorej rzeczywistości.</strong>
<br>Tylko razem możemy odsunąć obecny, pookrągłostołowy układ partyjny od władzy, co jest warunkiem koniecznym, żeby cokolwiek mogło się w Polsce zmienić na lepsze.
<br>Albo razem zrealizujemy choć jeden wspólny cel, choć jeden fundamentalny postulat – albo nikt z nas osobno nie zrealizuje żadnego swojego celu czy postulatu.
</p>
<p class="o_co_chodzi">
Temu ma służyć ta strona, która pozwoli nam wszystkim <strong>połączyć siły, uzgodnić to co dla nas wszystkich oczywiste, że musi się w Polsce zmienić i wybrać spośród nas ludzi godnych zaufania, którzy będą nas reprezentować.</strong>
</p>
<p class="o_co_chodzi">
Tak odróżnimy ICH od NAS, naszych wrogów od naszych przyjaciół, dywersantów i sabotażystów od sprzymierzeńców: <strong>Wrogowie zawsze szukają i będą szukać różnic, żeby nas podzielić.</strong> Bo tak realizują swoje własne interesy (indywidualne lub partyjne) naszym kosztem – siejąc podziały.
<br>I sprawa jest bardzo prosta: jeśli ktoś skupia się na tym co nas dzieli i co nas różni – zamiast szukać tego co nas łączy i widzieć to, że mamy wspólny interes w naprawie naszego państwa – to nie ma wątpliwości, że działa przeciwko nam, przeciwko społeczeństwu – i broni obecnego systemu realizując zasadę „dziel i rządź”
</p>

<h1 class="o_co_chodzi">Co możesz zrobić?</h1>
<h2 class="o_co_chodzi">Przede wszystkim zarejestruj się i „podaj dalej”</h2>

<p class="o_co_chodzi">
Rejestracja jest konieczna, żeby móc <strong>głosować</strong> na postulaty i reprezentantów (oraz zarządzać swoimi głosami!) 
<br>Rejestracja jest również niezbędna żebyśmy <strong>nie stracili ze sobą kontaktu w razie czego</strong>, żebyśmy mieli własny informacyjny <strong>kanał komunikacyjny</strong> niezależny od mediów – chodzi o to, żeby w nagłych przypadkach móc dotrzeć z ważną informacją do wszystkich zainteresowanych poprzez e-mail.
NIGDY tą drogą nie będą wysyłane żadne reklamy ani nic podobnego – wyłącznie ważne informacje niezbędne do odniesienia sukcesu tej inicjatywy mogą być tą drogą przesyłane.

<br>Ponadto licznik na stronie głównej to <strong>licznik osób zarejestrowanych</strong> – i najważniejsze jest to, żebyśmy widzieli wszyscy, że ten licznik rośnie z dnia na dzień, że jest nas coraz więcej.
 
<br><br>To co każdy z nas może zrobić – to zarejestrować się, wyrażać swoje poparcie dla wybranych postulatów i reprezentantów – oraz najważniejsze: <strong>przekazać dalej informację</strong> o jednoczeniu się polskiego społeczeństwa w celu odsunięcia zdegenerowanej klasy politycznej od wpływu na nasze życie i odzyskania naszych pieniędzy (obniżenia podatków) zabieranych nam przez partie sejmowe pod różnymi pretekstami. <strong>Trzeba mówić otwarcie o tej społecznej inicjatywie.</strong>
<br><br>Każdy może również <strong>zabiegać o poparcie</strong> dla postulatów, które uważa za słuszne oraz ludzi (reprezentantów), których uważa za godnych zaufania – podając bezpośrednie linki do stron konkretnych postulatów lub konkretnych reprezentantów – na każdej takiej stronie jest przycisk do głosowania i wyrażenia swojego poparcia.

</p>


<h2 class="o_co_chodzi">Rejestracja</h2>

<p class="o_co_chodzi">
Rejestrować i logować można się za pomocą swojego <strong>konta na facebooku lub konta google+.</strong> Tak jest najprościej.
<br>Oprócz tego można się zarejestrować, a potem logować, <strong>poprzez formularz na stronie</strong> – podając jedynie swój email (nie będzie widoczny dla innych użytkowników) oraz wyświetlaną nazwę użytkownika (preferowane imię i nazwisko ale można wpisać dowolną nazwę użytkownika, jeśli kogoś krępuje jawne występowanie pod swoim nazwiskiem).
<br>(hasło do zalogowania zostanie wysłane na podany email – a następnie, po pierwszym zalogowaniu można sobie ustawić własne hasło klikając w menu w „edytuj profil”)

<br><br>Indywidualne ikonki użytkowników są pobierane z konta na facebooku, google+ lub z serwisu gravatar – w zależności od wybranej metody rejestracji.

<br><br>Dla celów zabezpieczenia przed inwazją botów i atakami sabotażu – rejestracja i logowanie poprzez formularz na stronie są zabezpieczone za pomocą „capcha” (trzeba „udowodnić”, że nie jest się botem) – proszę wybaczyć i zrozumieć tą minimalną niedogodność. (Nie występuje ona gdy logujemy się przez facebook lub google+)
</p>



<h2 class="o_co_chodzi">Głosowanie</h2>

<p class="o_co_chodzi">

Głosowanie jest jawne, trwa cały czas a swoje oddane głosy można anulować lub zmieniać. Liczby głosów są wyrazem naszego BIEŻĄCEGO poparcia dla postulatów oraz zaufania (lub sprzeciwu, nieufności) wobec naszych reprezentantów czy liderów.
<br><br>
<strong>Jeśli jakiś postulat uznajesz za słuszny – wyraź swoje poparcie</strong> klikając na zielony przycisk „popieram”. Twoje głosy poparcia to te oznaczone „zielonym ptaszkiem” (widoczne kiedy przeglądasz stronę jako zalogowany użytkownik). 
<br><strong>Szukamy takich podstawowych postulatów zmian czy kierunków zmian, które wszyscy będziemy uważać za oczywiste i konieczne.</strong>
Jeśli zmienisz zdanie, wystarczy, że ponownie klikniesz na przycisk „popieram” z „zielonym ptaszkiem” aby anulować swoje poparcie. 
<br><br>
<strong>Jeśli ufasz jakiemuś reprezentantowi – wyraź swoje zaufanie</strong> klikając zielony „kciuk w górę”. Twoje głosy poparcia to te oznaczone ciemniejszym kolorem (widoczne kiedy przeglądasz stronę jako zalogowany użytkownik).
<br><strong>Szukamy ludzi uczciwych i najbardziej godnych zaufania</strong>, dla których priorytetem będzie realizacja naszych wspólnych głównych postulatów widocznych na stronie głównej – a nie osobiste ambicje polityczne.
<br>Chodzi nie tyle o ich osobiste poglądy, z którymi nie musimy się zgadzać – tylko <strong>chodzi o ludzi, którzy nas NIE ZAWIODĄ</strong>, jeśli się do czegoś zobowiążą. Nie wystawią do wiatru w chwili próby.  
Jeśli zmienisz zdanie – ponownie kliknij na ciemnozielony „kciuk w górę” aby cofnąć swoje zaufanie/poparcie.
<br><br>
<strong>Jeśli jakiś reprezentant budzi Twój sprzeciw</strong>, bądź nie jesteś w stanie mu zaufać – wyraź to klikając czerwony „kciuk w dół”. Twoje głosy sprzeciwu to te oznaczone ciemniejszym kolorem. Głosy sprzeciwu mają charakter informacyjny i <strong>honorowy</strong>.
<br><br>
<strong>Jeśli nie znasz jakiegoś reprezentanta</strong> – lub jest on dla Ciebie w tej chwili neutralny / obojętny – <strong>to NIE GŁOSUJ w ogóle</strong>. Stanem wyjściowym (neutralnym) jest brak Twojego głosu, jeśli nie znasz danego człowieka lub niczym Ci nie podpadł. 
<br>
<strong>Głosujemy tylko na ludzi, których znamy (kojarzymy)</strong> i którym ufamy – lub których uważamy za niegodnych zaufania bo mamy do tego powód! (powinniśmy umieć obronić swój głos, tzn. podać powód naszego zaufania lub sprzeciwu)
<br><br>
(ze względów bezpieczeństwa zmienić swój głos można dopiero po kilku minutach – te celowe ograniczenia czasowe na stronie mają wyeliminować sabotaż i głosowanie „dla zabawy” – traktujemy siebie i to narzędzie poważnie)

</p>


<br>
<h1 class="o_co_chodzi">Co więcej możesz zrobić?</h1>
<p class="o_co_chodzi">
<strong>Pomóż znaleźć i zjednoczyć tu dobrych, uczciwych ludzi godnych zaufania</strong> oraz szukaj porozumienia i zrozumienia między ludźmi, co do postulatów i kierunku fundamentalnych zmian w naszym kraju, koniecznych, żeby zlikwidować patologie obecnego systemu. 
<br><strong>Szukaj tego, co łączy ludzi! Szukaj wspólnych celów!</strong>
</p>

<h2 class="o_co_chodzi">Działasz społecznie? Pokaż się nam jako reprezentant godny zaufania!</h2>
<p class="o_co_chodzi">
Ta strona ma nie tylko jednoczyć ludzi wokół koniecznych fundamentalncyh zmian systemowych - ale również jednoczyć wysiłki osób i środowisk, które już dziś działają społecznie na włąsną rękę, walcząc z systemem, walcząc z patologiami państwa, walcząc z bezprawiem czy pomagając pokrzywdzonym. 
<br>Połączmy siły, bo tylko razem jesteśmy w stanie zmienić cały system - źródło tych wszystkich patologii, z którymi dziś walczycie osobno.
<br>Gdzie szukać liderów i reprezentantów społeczeństwa jesli nie wśród ludzi, którzy już dowiedli swoich czystych serc i szczerych intencji w działaniu?
<br>Tragicznym paradoksem jest, że ludzie dobrzy i uczciwy z reguły są cisi i skromni i sami nie pchają się "na liderów" - ale tym samym rządzą nami i polityką zajmują się przeważnie cwaniacy i manipulatorzy. <strong>NIE MOŻEMY na to dłużej pozwalać!</strong>
<br><br>
Albo znajdziemy wśród siebie ludzi prawdziwie godnych zaufania - albo na to miejsce wejdą inni ludzie, niekoniecznie najwłaściwsi. Stąd apel: <strong>DAJCIE O SOBIE ZNAĆ, że jesteście - i zaproponujcie tu siebie jako naszych reprezentantów.</strong>
</p>
<br>
<h2 class="o_co_chodzi">Zasady dodawania reprezentantów</h2>
<p class="o_co_chodzi">
<strong>Jeśli popierasz tę inicjatywę i chcesz ją reprezentować, propagować lub się w nią zaangażować - dodaj SIEBIE do listy reprezentantów.</strong>
<br><br>Zasadniczo reprezentanci powinni sami siebie dodawać/proponować – tzn. najpierw się zalogować/zarejestrować na stronie tak jak wszyscy użytkownicy – a potem dodać swoją osobę jako reprezentanta do listy reprezentantów. Tak byłoby idealnie.
<br>Jednak ze względów praktycznych dopuszczalne jest również dodawanie reprezentantów „z polecenia”, za ich zgodą. (w tym celu <a href="http://1polska.pl/kontakt">skontaktuj się</a> z administratorem)
<br><br>
Podsumowując: każdy użytkownik, który występuje pod własnym nazwiskiem może zaproponować siebie jako reprezentanta oraz zapraszać godne zaufania osoby do reprezentowania tej inicjatywy.
<br><br>

Aby dodać nowy profil reprezentanta kliknij przycisk „Zaproponuj uczciwego reprezentanta” znajdujący się na dole strony z listą reprezentantów (górne menu: Reprezentanci)
<br>Dodając reprezentanta należy uwzględnić wszystkie pola:  <strong>imię, nazwisko, zdjęcie twarzy oraz krótki opis kim jest ta osoba</strong>. (te dane widoczne są na stronie głównej oraz na liście reprezentantów)
<br>Ponadto w polu "Pełny opis" warto wpisać więcej informacji, w szczególności linki do materiałów video prezentujących reprezentanta, linki do stron autorskich reprezentanta lub blogów, informacje kontaktowe do reprezentanta, jego ewentualną przynależność do organizacji czy środowisk, z którymi jest związany, itp. informacje pozwalające poznać danego reprezentanta.

<br><br>
Dodawanie reprezentantów ma czasowe ograniczenie: <strong>każdy może dodać tylko jednego reprezentanta na dobę, nie wcześniej niż 24h po pierwszym logowaniu na stronie.</strong> To najprostszy sposób, żeby ograniczyć aktywność „dla zabawy” na stronie.

</p>

<h2 class="o_co_chodzi">Lista reprezentantów</h2>
<p class="o_co_chodzi">
Szukamy ludzi uczciwych i najbardziej godnych zaufania, którzy nas nie zawiodą, jeśli się do czegoś zobowiążą.
To oni będą nas reprezentować publicznie w mediach i/lub ostatecznie w sejmie (jeśli się pisemnie zobowiążą do realizacji naszych wspólnych, głównych postulatów).
<br><br>
<strong>Lista reprezentantów jest domyślnie posortowana wg ilości głosów zaufania (zielony kciuk w górę)</strong> – można ją posortować w inny sposób klikając na nagłówek kolumny wg której chcemy posortować reprezentantów.
Kolumna „poparcie” z liczbą procentową jest to stosunek głosów zaufania (zielonych kciuków w górę) do wszystkich głosów oddanych na danego reprezentanta i mówi o tym jaki procent ludzi, którzy oddali głosy na danego reprezentanta jest w stanie mu zaufać.

</p>

<br>

<h2 class="o_co_chodzi">Zasady dodawania postulatów</h2>
<p class="o_co_chodzi">
Postulat powinien być zredagowany w jak najbardziej czytelny i klarowny, jednoznaczny sposób, żeby nie było wątpliwości czego dotyczy i co jest jego istotą.
<br><br>
Postulat należy dobrze przemyśleć i przygotować (zredagować jego treść) przed dodaniem – to znacznie ułatwi sprawę, ponieważ celowo <strong>nie ma możliwości edycji i poprawiania postulatu po tym jak zostanie dodany</strong> (można to zrobić tylko z poziomu administratora). Jeśli szkoda nam czasu na staranne zredagowanie postulatu to raczej nie jest to ważny postulat dla kraju.
<br>Traktujemy się poważnie a ta strona nie jest zabawką – i dlatego celowo dodawanie postulatów ma czasowe ograniczenia: <strong>każdy może dodać tylko jeden postulat na dobę, nie wcześniej niż 24h po pierwszym logowaniu na stronie.</strong> To najprostszy sposób, żeby ograniczyć aktywność „dla zabawy” na stronie.
<br><br>
Postulaty dodajemy anonimowo – ważna jest treść postulatu, która ma jednoczyć ludzi myślących podobnie - a nie to, że jest to „mój” postulat i „ja” go dodałem. Dlatego informacja o tym kto dodał dany postulat nie jest wyświetlana i dlatego w treści postulatu też nie ma prawa pojawić się taka informacja.
<br><br>
Aby dodać nowy postulat kliknij przycisk „Zaproponuj nowy postulat” znajdujący się na dole strony z listą postulatów  (górne menu: Postulaty)

</p>


<h2 class="o_co_chodzi">Lista postulatów</h2>
<p class="o_co_chodzi">
Lista postulatów jest domyślnie posortowana wg ilości głosów poparcia – można ją posortować w inny sposób klikając na nagłówek kolumny wg której chcemy posortować postulaty. <strong>Aby lista postulatów nie rozrosła się do absurdalnych rozmiarów</strong>, może ona być czasem czyszczona przez administratorów "od dołu" tzn. <strong>kasowane mogą być postulaty z dołu listy, z najmniejszym poparciem</strong>.
<br>Szukamy takich podstawowych postulatów zmian czy kierunków zmian, które wszyscy będziemy uważać za oczywiste i konieczne. Dla przykładu, jeśli ktoś postuluje obniżkę podatku dochodowego dla najbiedniejszych, a ktoś inny obniżkę podatku VAT – to oczywiste jest, że obaj postulują konieczność obniżki podatków – i to jest główny kierunek zmian, który ich łączy – to jest „część wspólna” ich postulatów.
</p>


<br>

<h2 class="o_co_chodzi">Jawność i przejrzystość tej strony!</h2>
<p class="o_co_chodzi">
Jawność i transparentność, przejrzystość działań dotyczących sfery publicznej jest podstawową sprawą i rzeczą naturalną dla każdego uczciwego człowieka. I to samo dotyczy tej strony jako naszej wspólnej sprawy.
<br><strong>Aktywność każdego użytkownika na stronie jest jawna</strong> – podobnie jak aktywność administratorów tej strony.
<br>W profilu użytkownika widoczne są wszystkie jego głosy (jakie postulaty popiera, jakich reprezentantów obdarza zaufaniem, jacy reprezentanci budzą jego sprzeciw) a pod każdym postulatem czy reprezentantem widoczna jest szczegółowa historia głosów.
<br>Jawność jest też niezbędna, aby możliwe było wykrycie wszelkich ewentualnych wrogich działań, np. zbiorowego ataku czy sabotażu strony poprzez rejestrację fikcyjnych/opłacanych kont użytkowników.

</p>


<h2 class="o_co_chodzi">BARDZO WAŻNE – ostateczna instancja:</h2>
<p class="o_co_chodzi">
Jako pomysłodawca i inicjator tej strony czuję się <strong>odpowiedzialny za stanie na straży przed sabotażem i próbami rozbicia czy ośmieszenia tej inicjatywy</strong> poprzez dodawanie idiotycznych postulatów lub skompromitowanych reprezentantów – dlatego ZASTRZEGAM SOBIE prawo, do pełnego administrowania w wyjątkowych sytuacjach (tzn. edytowania, a nawet usuwania) treściami dodawanymi na tej stronie przez użytkowników (dodawanymi postulatami i reprezentantami) <strong>w celu ochrony tej inicjatywy przed wszelką dywersją i destrukcyjną działalnością innych osób, które z pewnością się tu pojawią prędzej czy później.</strong>
<br>W szczególności kasowane będą wszelkie postulaty oznaczające zwiększanie tzw. wydatków publicznych czyli zwiększanie łącznych obciążeń dla podatników. Podobnie niedopuszczalne jest, żeby pojawiła się na tej stronie propozycja skompromitowanego  reprezentanta, który jest uwikłany w obecne struktury władzy (parlamentu, rządu czy administracji państwowej)
<br><br>
<strong>Wszystkie takie działania będą jawne – tzn. pozostanie po nich informacja o tym, co ewentualnie zostało usunięte i dlaczego.</strong>
<br>Zastrzegam sobie też prawo powierzenia tej  kompetencji wybranym osobom, do których będę miał pełne zaufanie - i również będzie to jawne (administratorzy strony są wymienieni w dziale „kontakt”)
<br><br>
Konrad Daniel (PodziemnaTV)

</p>
<br><br>